<h1> Hi from new </h1>

<%= form_with model: @user do |form| %>
    <%= label_tag(:username, "Enter username>")%>
    <%= form.text_field :username , placeholder: "user123@xyz"%>
    <%= label_tag(:username, "Enter email>")%>
    <%= form.text_field :email, placeholder: "user123x@gmail.com"%>
    <%= label_tag(:password, "Enter password>")%>
    <%= form.password_field :password, placeholder: "Put a strong alpha numeric password" %>
    <%= form.submit :Submit! %>
<% end %>

<% if @user.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
    </ul>
</div>
<% end %>

<ul>
  <%= link_to 'create new user ', new_user_path %>
  <span> | </span>
  <%= link_to 'all users', users_path %>
</ul>
